/* -------------------------------------------------- */
/* Timeline */
/* -------------------------------------------------- */
.timeline{
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
    font-family: "Fira Sans", sans-serif;
   

}
.timeline__component{
    margin: 0px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.timeline__componentBGTop{
    padding: 1.5em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 0px 20px 20px 20px;
    text-align: center;
    border: 5px solid rgb(0, 0, 0);

}
.timeline__componentBG{
    padding: 1.5em;
    
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 20px 20px 20px 20px;
    text-align: center;
    border: 5px solid rgb(0, 0, 0);
}
.timeline__componentBGBottom{
    padding: 1.5em;
    
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 20px 20px 20px 20px;
    text-align: center;
    border: 5px solid rgb(0, 0, 0);

}

.timeline_line{
    position: relative;
    background-color: black;
}
.timeline__point{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    width: 15px;
    height: 15px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
}
.timeline__pointbottom{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    width: 15px;
    height: 15px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    bottom: 0;
}

/* -------------------------------------------------- */
/* Paragraph and Caption Styles */
/* -------------------------------------------------- */
.fontsize {
    color: rgb(175, 105, 78);
    text-align: center;
    font-weight: normal;
}
.Sfontsize {
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: normal;
}
.Stimeline__date{
    font-weight: normal;
    text-align: right;
    color: rgb(175, 105, 78);
    font-family: 'Great Vibes', cursive;
    font-size: 1.5em;
    margin-bottom: .75em;
}
.Stimeline__dateL{
    font-weight: normal;
    text-align: left;
    color: rgb(175, 105, 78);
    font-family: 'Great Vibes', cursive;
    font-size: 1.5em;
    margin-bottom: .65em;
    
}
.TLh2{
    color: black;
    font-family: 'Great Vibes', cursive;
    margin-bottom: .65;
}
